html {
    font-family: 'Quicksand', sans-serif;
}
.name_title {
    color: rgba(240, 248, 255, 0.9);
    width: 60%;
    font-weight: 700;
    margin-right: 9%;
    margin-left: 9%;
}
.text {
    background: aliceblue;
    border-radius: 2px;
    width: 60%;
    margin-bottom: 50px;
}
body {
    background: rgba(0, 0, 0, 0.9);
    justify-content: center;
}
.container {
    margin: 5px auto 5px auto;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

h3, h4 {
    font-size: 18px;
}

.footer {
    margin-top: 10px;
    padding-left: 20%;
    padding-right: 20%;
    display: table;
    min-height: 30px;
    min-width: 360px;
}

.footer span {
    align-content: flex-end;
    display: table-cell;
    vertical-align: bottom;
    color: rgba(175,164,164,0.68)
}